# Application
NODE_ENV=development
PROJECT_NAME=nestjs-starter
TZ=UTC
APP_HOST=localhost
APP_PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=nestjs-starter
DB_DEBUG=true
DB_ENABLE_QUERY_LOG=true

# JWT
JWT_SECRET=super-secret-backoffice-key
JWT_EXPIRES_IN=3600s 
JWT_REFRESH_SECRET=super-secret-refresh-key
JWT_REFRESH_EXPIRES_IN=30d

# Logging
GRAYLOG_HOST=127.0.0.1
GRAYLOG_PORT=12201
AWS_ACCESS_KEY_ID=xxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxx
AWS_REGION=ap-southeast-1
CLOUDWATCH_GROUP_NAME=nestjs-starter
CLOUDWATCH_STREAM_NAME=dev-stream
